.flex-row {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-jc-center {
	display: flex;
	justify-content: center;
}

.flex--spread {
	justify-content: space-between;
}
