// TODO: Set up colors from your design system
// TODO: If you are changing this colors, also change _colors.utilities.scss
$color-primary: #007aff;
$color-secondary: #6c757d;
$color-success: #27a844;
$color-danger: #dc3546;
$color-warning: #fec107;
$color-info: #16a2b7;
$color-light: #f8f9fb;
$color-dark: #353a40;

$color-white: #fff;
$color-black: #000;
