// TODO: Set spacing tokens from your design system.
$spacing-00: 0 !default;
$spacing-02: 2px !default;
$spacing-04: 4px !default;
$spacing-06: 6px !default;
$spacing-08: 8px !default;
$spacing-10: 10px !default;
$spacing-12: 12px !default;
$spacing-16: 16px !default;
$spacing-20: 20px !default;
$spacing-24: 24px !default;
$spacing-32: 32px !default;
$spacing-40: 40px !default;
$spacing-48: 48px !default;
$spacing-64: 64px !default;

$container-padding-x: 40px;
