// TODO: Set global font family & other font tokens from your design system
$global-font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif;
$global-font-size: 14px;
$global-font-weight: 500;
$global-line-height: 1.5;
$global-font-color: $color-black;
$global-letter-spacing: -0.04em;

$header-hero-font-size: 48px;
$header-h1-font-size: 34px;
$header-h2-font-size: 24px;
$header-h3-font-size: 20px;
$header-h4-font-size: 12px;

$header-hero-font-size-desktop: 68px;
$header-h1-font-size-desktop: 48px;
$header-h2-font-size-desktop: 32px;
$header-h3-font-size-desktop: 24px;
$header-h4-font-size-desktop: 16px;
